

markdown .variable-binding {
  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.25em;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

