<h1>{{title | titlecase}}</h1>
<hr />
<app-search #search [searchArray]="items" [searchTypes]="types"></app-search>
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel *ngFor="let item of items | filterBy: search.searchText; index as i;" id="panel{{i}}">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between" (click)="acc.toggle('panel'+i)">
        <h4 class="mb-0">{{item.name}}</h4>
        <span class="fas" [ngClass]="{ 'fa-minus' : opened, 'fa-plus' : !opened }"></span>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <h5 class="text-muted" *ngIf="item.subtype === ''">{{item.size}} {{item.type}}, {{item.alignment}}
      </h5>
      <h5 class="text-muted" *ngIf="item.subtype !== ''">{{item.size}} {{item.type}} ({{item.subtype}}),
        {{item.alignment}}</h5>
      <hr>
      <div class="m-2">
        <div>
          <span class="font-weight-bold">Armor Class:</span><span class="text-muted"> {{item.armor_class}}
            {{item.armor_desc}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Hit Points:</span><span class="text-muted"> {{item.hit_points}}
            ({{item.hit_dice}})</span>
        </div>
        <div>
          <span class="font-weight-bold">Speed:</span><span class="text-muted" *ngFor="let speed of item.speed | keyvalue; let isLast=last"> {{speed.key}}: {{speed.value}}ft.{{isLast ? '': ', '}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Skills:</span><span class="text-muted"> {{item.skills}}</span>
        </div>
        <div *ngIf="item.damage_immunities !== ''">
          <span class="font-weight-bold">Damage Immunities: </span><span class="text-muted">
            {{item.damage_immunities}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Senses:</span><span class="text-muted"> {{item.senses}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Languages:</span><span class="text-muted"> {{item.languages}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Challenge:</span><span class="text-muted"> {{item.challenge_rating}}
            ({{(item.xp)}} XP)</span>
        </div>
      </div>
      <br />
      <div *ngFor="let specAbilities of item.special_abilities">
        <h6>{{specAbilities.name}}</h6>
        {{specAbilities.desc}}
      </div>
      <br />
      <h5>Actions</h5>
      <hr />
      <div *ngFor="let action of item.actions">
        <div class="m-2">
          <h6>{{action.name}}</h6>
          {{action.desc}}
        </div>
      </div>
      <div *ngIf="item.legendary_actions !== ''">
        <br />
        <h5>Legendary Actions</h5>
        <hr />
        <div *ngFor="let action of item.legendary_actions">
          <div class="m-2">
            <h6>{{action.name}}</h6>
            <markdown class="variable-binding">{{action.desc}}</markdown>
          </div>
        </div>
      </div>      
    </ng-template>
  </ngb-panel>
</ngb-accordion>