
<h1>{{title | titlecase}}</h1>
<hr />
<app-search #search [searchArray]="ites" [searchTypes]="types"></app-search>
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel *ngFor="let item of items | filterBy: search.searchText; index as i;" id="panel{{i}}">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between" (click)="acc.toggle('panel'+i)">
        <h5 class="mb-0">{{item.name}}</h5>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <h6>{{item.level}} {{item.school}}</h6>
      <hr />
      <div class="m-2">
        <div>
          <span class="font-weight-bold">Casting Time:</span><span class="text-muted"> {{item.casting_time}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Range:</span><span class="text-muted"> {{item.range}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Components:</span><span class="text-muted"> {{item.components}} </span>
        </div>
        <div>
          <span class="font-weight-bold">Duration:</span><span class="text-muted" *ngIf="item.duration"> {{item.duration}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Ritual: </span><span class="text-muted"> {{item.ritual}}</span>
        </div>
        <div *ngIf="item.material != ''">
          <span class="font-weight-bold">Material:</span><span class="text-muted"> {{item.material}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Concentratration:</span><span class="text-muted"> {{item.concentration}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Page:</span><span class="text-muted"> {{item.page}}</span>
        </div>
      </div>
      <markdown class="variable-binding">{{item.desc}}</markdown>
      <div *ngIf="item.higher_level">
        <h6 class="mb-1">At Higher Level</h6><span> {{item.higher_level}}</span>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

