
<h1>Backgrounds</h1>
<hr />
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel *ngFor="let background of backgrounds; index as i;" id="panel{{i}}">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between" (click)="acc.toggle('panel'+i)">
        <h5 class="mb-0">{{background.name}}</h5>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="m-2">
        <div>
          <span class="font-weight-bold">Skill Proficiencies:</span><span class="text-muted"> {{background.skill_proficiencies}}</span>
        </div>
        <div>
          <span class="font-weight-bold">Languages:</span><span class="text-muted"> {{background.languages}}</span>
        </div>        
      </div>
      <markdown class="variable-binding">{{background.desc}}</markdown>

      <h6>{{background.feature}}</h6>
      <hr />
      <markdown class="variable-binding">{{background.feature_desc}}</markdown>
      <markdown class="variable-binding">{{background.equipment}}</markdown>
      <markdown class="variable-binding">{{background.suggested_characteristics}}</markdown>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

